@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #171717;
  background: #ffffff;
  font-family: var(--font-geist-sans);
  margin: 0;
}

.cursor-grab {
  cursor: -webkit-grab;
  cursor: grab;
}

.cursor-grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.w-md-editor {
  --md-editor-font-family: var(--font-geist-sans);
}

.w-md-editor-text {
  font-family: var(--font-geist-sans);
}

.w-md-editor-preview {
  font-family: var(--font-geist-sans);
}
